{% extends "portal/base.html" %}
{% load i18n %}
{% block heading %}{% translate "Yeni müraciət" %}{% endblock %}
{% block content %}
<div class="cp-card p-card-lg" style="max-width:520px;">
  <form method="post" enctype="multipart/form-data" class="flex-col gap-3">
    {% csrf_token %}
    {% for field in form %}
      <label>
        <span class="cp-meta">{{ field.label }}</span>
        <div class="mt-1">{{ field }}</div>
        {{ field.errors }}
      </label>
    {% endfor %}
    <button class="cp-btn" type="submit">{% translate "Göndər" %}</button>
  </form>
</div>
{% endblock %}
